@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppiens", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: white;
  overflow-x: hidden;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;

  box-shadow: inset 0 0 70px black;
}

.container {
  padding: 10px 5%;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  width: 75px;
  position: sticky;
  top: 0;
}
.logo:hover {
  filter: drop-shadow(8px 8px 10px red);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a.active {
  color: red;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2.5px;
  background: red;
  position: absolute;
  left: 0;
  border-radius: 50px;
  bottom: -6px;
  filter: drop-shadow(0px 4px 8px red);
}

nav ul li a:hover::after {
  color: red;
  width: 100%;
  transition: all 0.5s;
}

.header-text {
  margin-top: 2%;
  font-size: 15px;
  text-align: center;
}

.header-text h1 {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  text-shadow: 2px 4px 8px red;
}

.header-text p {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.header-text span {
  color: red;
  font-size: 35px;
  font-weight: 700;
}

.avatar {
  width: 130px;
  display: block;
  margin: auto;
  border-radius: 50%;
  animation: box 2s infinite;
  box-shadow: red 0px 5px, rgba(171, 11, 11, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(144, 24, 24, 0.05) 0px 25px;
}

.avatar:hover {
  cursor: pointer;
}

.CV button {
  position: relative;
  background: #444;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: 0.2s;
  top: 40px;
  display: block;
  margin: auto;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}

.CV button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 2rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
  cursor: pointer;
}

.CV button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.CV button span {
  position: relative;
  z-index: 1;
}
.CV button i {
  position: absolute;
  inset: 0;
  display: block;
}

.CV button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.CV button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.CV button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.CV button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

.graphic button {
  position: relative;
  background: #444;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: 0.2s;
  top: 55px;
  display: block;
  margin: auto;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}

.graphic button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 2rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
  cursor: pointer;
}

.graphic button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.graphic button span {
  position: relative;
  z-index: 1;
}
.graphic button i {
  position: absolute;
  inset: 0;
  display: block;
}

.graphic button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.graphic button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.graphic button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.graphic button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

/* ABOUT */
#About {
  padding: 80px 0;
  color: #ababab;
  background: url(../img/background2.jpg);
  background-size: cover;
  background-position: center;

  box-shadow: inset 0 0 300px black;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgb(89, 88, 88) 27%,
    rgba(1, 1, 1, 1) 79%
  );
  transition: background 0.5s, transform 0.5s;
  border-radius: 25px;
}
.about-col-1:hover {
  filter: drop-shadow(5px 8px 3px rgb(107, 6, 6));
  transform: translateY(-10px);
}

.about-col-1 img {
  width: 200px;
  height: auto;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  color: red;
  text-shadow: 0px 2px 5px blue;
  transition: 2s ease;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #ff002b, #009dff);
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 20px;
  transition: 2s ease;
}

.tab-links.active-link::after {
  width: 80%;
}

.tab-contents {
  display: none;
}
.tab-contents ul li {
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  background-color: #1e1d1d;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.tab-contents ul li:hover {
  background-color: #323232;
  transition: 0.5s ease-in-out;
}
.tab-contents ul li span {
  color: red;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.tab-contents ul li .tempat {
  color: grey;
  font-size: 14px;
}
.tab-contents.active-tab {
  display: block;
}
.about-col-2 span {
  color: #ababab;
  font-weight: 700;
}
.serti {
  position: static;
  background: transparent;
  color: white;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}
/* END ABOUT */

/* SERVICES */
#services {
  padding: 30px 0;
  background-image: url(../img/background3.png);
  background-size: cover;
  background-position: center;

  box-shadow: inset 0 0 300px black;
}

#services .sub-title {
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #27272c;
  padding: 40px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  background: grey;
  padding: 10px;
  border-radius: 10px;
}

.services-list div a:hover {
  background: rgb(122, 23, 23);
}
.services-list div:hover {
  background: #464545;
  transform: translateY(-10px);
  cursor: pointer;
  filter: drop-shadow(5px 8px 3px red);
}
/* END SERVICES */

/* FEATURE */
#work {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;

  background-image: url(../img/background3.png);
  background-size: cover;
  background-position: center;

  box-shadow: inset 0 0 300px black;
}

#work ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: red;
}

#work ul li {
  list-style: none;
  background: white;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 20px;
}

#work ul li.active {
  background: rgb(151, 19, 19);
  color: rgb(255, 255, 255);
}

#work .sub-title h3 {
  text-align: center;
}

#work .sub-title p {
  text-align: center;
  font-size: 15px;
  margin: 0 15%;
  padding: 20px;
  padding-bottom: 20px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product .itemBox {
  position: relative;
  width: 350px;
  height: 250px;
  margin: 10px;
  display: block;
  cursor: pointer;
}

.product .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  padding: 10px;
  transition: transform 0.5s;
}

.itemBox img:hover {
  box-shadow: inset 0px 10px 20px red;
  border-radius: 30px;
  transform: scale(1.1);
}

.product .itemBox.hide {
  display: none;
}

/* DOCUMENT PIC */
/* FEATURE */
#work1 {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;

  background-image: url(../img/background3.png);
  background-size: cover;
  background-position: center;

  box-shadow: inset 0 0 300px black;
}

#work1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: red;
}

#work1 ul li {
  list-style: none;
  background: white;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 20px;
}

#work1 ul li.active {
  background: rgb(151, 19, 19);
  color: rgb(255, 255, 255);
}

#work1 .sub-title1 h3 {
  text-align: center;
}

#work1 .sub-title1 p {
  text-align: center;
  font-size: 15px;
  margin: 0 15%;
  padding: 20px;
  padding-bottom: 20px;
}

.product1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product1 .itemBox1 {
  position: relative;
  width: 350px;
  height: 250px;
  margin: 10px;
  display: block;
  cursor: pointer;
}

.product1 .itemBox1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  padding: 10px;
  transition: transform 0.5s;
}

.itemBox1 img:hover {
  box-shadow: inset 0px 10px 20px red;
  border-radius: 30px;
  transform: scale(1.1);
}

.product1 .itemBox1.hide {
  display: none;
}

/* CONTACT */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: white;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  transition: transform 0.5s;
}

.header-sosmed {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-sosmed a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;

  transition: transform 0.5s;
}

.btn.btn2 {
  display: inline-block;
  background: red;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  resize: none;
}

form .btn2 {
  padding: 10px 30px;
  font-size: 18px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 12px;
  color: white;
  font-weight: 700;
}

.contact-left .email a,
.contact-left .whatsapp a {
  text-decoration: none;
  color: white;
}
.header-sosmed a:hover,
.social-icons a:hover,
.contact-left .email a:hover,
.contact-left .whatsapp a:hover {
  color: red;
  transform: translateY(-5px);
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
nav .fa {
  display: none;
}

.footer p {
  text-align: center;
  padding: 25px;
  font-size: 15px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* END SCROLLBAR */
/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(../img/Background-phone.png);
  }

  .logo {
    width: 65px;
    display: block;
    position: relative;
    justify-content: space-around;
  }
  .logo img {
    margin: auto;
    display: block;
  }
  .logo:hover {
    filter: drop-shadow(4px 4px 5px red);
  }
  .header-text {
    font-size: 12px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .header-text p {
    font-size: 20px;
  }
  .header-text span {
    font-size: 25px;
  }

  nav .fa {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  nav .fa:hover {
    box-shadow: 0px 0px 20px red;
  }
  nav ul {
    background: grey;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    border-radius: 10px;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 20px;
    padding: 8px;
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
  }
  nav ul li:hover {
    cursor: pointer;
    background: red;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav ul .fa:hover {
    box-shadow: 0px 0px 20px red;
  }
  nav {
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 20px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .social-icons a {
    position: relative;
    font-size: 30px;
  }
}
